h1,h2 {
    font-family: 'Pattaya', sans-serif !important;
}
header{
    background: none;
    
}

header .btn:hover{
background-color: white;
color:black;
}
main .container{
    min-height: 400px;
    margin-top: 5px;
    background: none;
}
header .logo a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family: 'Arima';
    font-size: 2em;
    font-weight: 900;
   
}

header .burger {
    cursor: pointer;
    font-size: 2em;
    color:rgb(233, 233, 174);
    position: absolute;
    z-index: 100;
    
}

header .close {
    cursor: pointer;
    font-size: 2em;
    color:rgb(233, 233, 174);
    position: absolute;
    z-index: 100;
   
}

header .container .links a {
    color: white;
    padding:0 8px;
    font-family: 'Arima';
    display: inline-block;
    transition: 1000ms;
    font-size: 1.2em;
    cursor: pointer;
}

header .container .links a:hover {
    transform: scale(1.2, 1.2);
    color:rgb(165, 157, 42);

}



#map{
    height:450px;
    width:600px;  
   
}

.err h1,
.err h2{
    color:red;
   
}

.home h1
{
    color:white;
    font-family: 'Arima', cursive!important;
    /* font-family: 'Lato', sans-serif!important; */
    font-weight: 900;
    text-shadow: -1px 1px 2px #102286,
    1px 1px 2px #102286,
    1px -1px 5px #102286,
    -1px -1px 5px #102286;
    
}
.home h1 span{
    
color: rgb(233, 233, 174);
}

.home h2{
    color: rgb(233, 233, 174);
    font-weight: 400;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(images/world.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}



footer{
    background: none;
    color: white;
    margin-top: auto;
}
main .singleCont{
	border: 7px solid;
	padding: 1rem;
    border-image: linear-gradient(45deg, rgb(64, 88, 224), rgb(208, 209, 225)) 1;
 }

#id_select_country{
  display:none;
}

 